{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Ending Registration</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'core/css/styll.css' %}">
  </head>
  <body background="{% static 'core/img/zdjecie_startowe.jpg' %}" alt="kosz" style="width: 100%;">
    <div class="alert alert-dismissible alert-primary">
      <h1><strong>Dziękujemy za rejestracje</strong></h1>
    </div>



    <form class="przedjdz_d" action={% url 'core:druzyna' %} method="post">
        {% csrf_token %}
      <input class="btn btn-primary btn-lg" type="submit" name="" value="Przejdz dalej">
    </form>

  </body>
</html>
