.container {
    position: relative;
    text-align: center;
    color: white;
    background: repeat;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 
.btnSTART {
  border-radius: 60px;
  font-family: Georgia;
  color: #ffffff;
  font-size: 20px;
  background: #f52020;
  padding: 40px 40px 40px 40px;
  text-decoration: none;
}

.btnSTART:hover {
  background: #db7070;
  text-decoration: none;
}